<div>
  <p >All-Events Tents is a <strong>mid-Michigan</strong> family owned and operated company.  The mission of All-Events Tents is to provide our customers with professional, courteous service and quality products. </p><%= image_tag "cover-photo-about-us.jpg",height: '645px' ,width:'485px' ,:style => "float:left"%> We strive to have very competitive pricing without any hidden fees.  Working with our customers is something we pride ourselves on and offer free consultations concerning what you might need for your upcoming event.  Our desire is for our customers to be extremely satisfied with their rental experience.
<p style="clear:both">All-Events Tents rents a wide variety of party essentials which include tents, tables, chairs, dance floor, lighting and more.  Set up and take down are always included.   Our products are perfect for graduation parties, birthday parties, family reunions, barbeques, weddings, store sales and many more. 
Check out our photo gallery to see the many choices we offer with our products. </p>

</div>