<div style="min-height: 200px;">
<h4>Here at All Events Tents how we do how we interact with out customers defines our business.</h4>
<ul class="no_bullet">
  <li>Click <%=link_to "here","mailto: alleventstents@gmail.com?subject=Tent Contact"%> to email us or use our email address at alleventstents@gmail.com</li>
  <li>Give us a call at (989) 798-2112 or (989) 341-1580</li>
  <li>
<!-- Facebook Badge START --><a href="https://www.facebook.com/pages/All-Events-Tents-LLC/145164388934552" target="_TOP" title="All-Events Tents, LLC"><img src="https://badge.facebook.com/badge/145164388934552.1470.980708362.png" style="border: 0px;" /></a><!-- Facebook Badge END -->
</li>
</ul>
</div>
