<%if local_assigns.has_key? :place %>
  <!-- <span class='mini_font'>**All prices include set up and delivery within 25 mile radius.**</span> -->
  <span class='mini_font'>**Save money on tent, table, and chair packages**</span>
<%else%>
  <span class="mini_font">**Prices are subject to change anytime.**</span>
<%end%>
