<%if local_assigns.has_key? :place %>
  <span class='mini_font'>**All prices include set up and delivery within 25 mile radius.**</span>
<%else%>
  <span class="mini_font">**Prices are subject to change and anytime.**</span>
<%end%>