<div id="accordion">
	<% root_path = "app/assets/images/tent_pictures" %>
	<% child_folders = Dir[File.join(root_path, "*")].select{|file| File.ftype(file) == "directory"}.collect{|name| name.split("/").last} %>


	<% child_folders.each do |folder| %>
		<h3><%= folder.gsub('_',' ').capitalize %></h3>
    <div>
    <p>
		<% child_files = Dir[File.join(root_path, folder, "*")].collect{|name| name.split("/").last} %>
		<ul>
			<% child_files.each do |file| %>
				<li><%= image_tag "#{file}" %></li>
			<% end %>
		</ul>
    </p>
    </div>
	<% end %>
</div>
