.tent_main{
  width: 100%;
  float: left;
}
.center_text{
  text-align:center;
}
.banner_styles{
   margin-right: auto;
   margin-left: auto;
   width:720px;
   height:375px;
   margin-top:0;
   margin-bottom: 0;
   border:solid black;
}
th{
  border-bottom: double #aaffff;
}

.tentsTable {
  margin:0px;padding:0px;
  width:100%;
  box-shadow: 10px 10px 5px #888888;
  border:1px solid #aaffff;
  
  -moz-border-radius-bottomleft:12px;
  -webkit-border-bottom-left-radius:12px;
  border-bottom-left-radius:12px;
  
  -moz-border-radius-bottomright:12px;
  -webkit-border-bottom-right-radius:12px;
  border-bottom-right-radius:12px;
  
  -moz-border-radius-topright:12px;
  -webkit-border-top-right-radius:12px;
  border-top-right-radius:12px;
  
  -moz-border-radius-topleft:12px;
  -webkit-border-top-left-radius:12px;
  border-top-left-radius:12px;
}.tentsTable table{
  border-collapse: collapse;
  border-spacing: 0;
  width:100%;
  height:100%;
  margin:0px;padding:0px;
}.tentsTable tr:last-child td:last-child {
  -moz-border-radius-bottomright:12px;
  -webkit-border-bottom-right-radius:12px;
  border-bottom-right-radius:12px;
}
.tentsTable table tr:first-child td:first-child {
  -moz-border-radius-topleft:12px;
  -webkit-border-top-left-radius:12px;
  border-top-left-radius:12px;
}
.tentsTable table tr:first-child td:last-child {
  -moz-border-radius-topright:12px;
  -webkit-border-top-right-radius:12px;
  border-top-right-radius:12px;
}.tentsTable tr:last-child td:first-child{
  -moz-border-radius-bottomleft:12px;
  -webkit-border-bottom-left-radius:12px;
  border-bottom-left-radius:12px;
}.tentsTable tr:hover td{
  background-color:#56aaff;
}
.tentsTable td{
  vertical-align:middle;
  background-color:#ffffff;
  border:1px solid #aaffff;
  border-width:0px 1px 1px 0px;
  text-align:left;
  padding:10px;
  font-size:14px;
  font-family:Arial;
  font-weight:normal;
  color:#000000;
}.tentsTable tr:last-child td{
  border-width:0px 1px 0px 0px;
}.tentsTable tr td:last-child{
  border-width:0px 0px 1px 0px;
}.tentsTable tr:last-child td:last-child{
  border-width:0px 0px 0px 0px;
}
.tentsTable tr:first-child td{
    background:-o-linear-gradient(bottom, #56aaff 5%, #ffffff 100%);  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #56aaff), color-stop(1, #ffffff) );
  background:-moz-linear-gradient( center top, #56aaff 5%, #ffffff 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#56aaff", endColorstr="#ffffff");  background: -o-linear-gradient(top,#56aaff,ffffff);

  background-color:#56aaff;
  border:0px solid #aaffff;
  text-align:center;
  border-width:0px 0px 1px 1px;
  font-size:17px;
  font-family:Courier;
  font-weight:bold;
  color:#ffffff;
}
.tentsTable tr:first-child:hover td{
  background:-o-linear-gradient(bottom, #56aaff 5%, #ffffff 100%);  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #56aaff), color-stop(1, #ffffff) );
  background:-moz-linear-gradient( center top, #56aaff 5%, #ffffff 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#56aaff", endColorstr="#ffffff");  background: -o-linear-gradient(top,#56aaff,ffffff);

  background-color:#56aaff;
}
.tentsTable tr:first-child td:first-child{
  border-width:0px 0px 1px 0px;
}
.tentsTable tr:first-child td:last-child{
  border-width:0px 0px 1px 1px;
}